
.pageWrapper {
  background-color: #121212;
  color: #ffffff;
}

.navbar {
  padding: 15px 0;
}

.brand {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
}

.navLink {
  color: #ffffff;
  margin-left: 15px;
  font-size: 1rem;
}

.heroSection {
  background: url('../images/naham.webp') no-repeat center;
  height: 80v;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.buttonGroup {
  display: flex;
  gap: 20px;
}

.primaryButton {
  background-color: #007bff;
  border: none;
}

.secondaryButton {
  border: 2px solid #ffffff;
}

.icon {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 50px;
}

.projectCard {
  border: none;
  background-color: #1e1e1e;
  color: #ffffff;
  text-align: center;
}

.projectThumbnail {
  border-radius: 8px;
  height:200px !important;
  object-fit: cover;
}


.viewButton {
  background-color: #007bff;
  border: none;
}

.footer {
  background-color: #000;
}

.outlinedText {
  font-weight: bold;
  color: white; 
  -webkit-text-stroke: 1px #121212;
  text-align: center;
}

.showcaseContainer {
  background-color: lightgrey; 
  padding: 5px 5px 0px 0px;
}
.carousel img {
  height: 450px;
  object-fit: cover;
  border-radius: 0px 0px 90px 90px !important;
}
.carousel video {
  height: 450px;
  object-fit: contain;
  border-radius: 0px 0px 90px 90px !important;
}








.aboutMe {
  max-width: 900px;
  margin: auto;
  font-family: Arial, sans-serif;
  line-height: 1.8;
  color: #333;
  padding: 20px;
}

.title {
  font-weight: bold;
  font-size: 2.5rem;
  color: #222;
}

.imageContainer {
  text-align: center;
}

.image {
  border: 2px solid #ddd;
  border-radius: 10px;
  width: 100%;
  height: 280px !important;
  object-fit: contain;
  background-color: lightgrey;
}

.textContainer {
  padding-left: 20px;
}

.subheading {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
}

.continuation {
  margin-top: 30px;
  font-size: 1.2rem;
  color: #444;
}









.overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.contactCard {
  background: #ffffff; 
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.contactDetails {
  margin: 20px 0;
  text-align: left;
}

.contactDetails div {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  color: #007bff; 
  font-size: 24px;
}

a {
  color: #007bff; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.highlight {
  background-color: #1e1e1e; 
  color: #ffffff; 
  padding: 3px 6px; 
  border-radius: 4px;
  font-weight: bold; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: inline-block;
}



